<!-- COLOR BAR -->
<div class="container-fluid color-bar clearfix">
  <div class="row">
    <div class="col-sm-1 col-2 bg-color-1">fix bar</div>
    <div class="col-sm-1 col-2 bg-color-2">fix bar</div>
    <div class="col-sm-1 col-2 bg-color-3">fix bar</div>
    <div class="col-sm-1 col-2 bg-color-4">fix bar</div>
    <div class="col-sm-1 col-2 bg-color-5">fix bar</div>
    <div class="col-sm-1 col-2 bg-color-6">fix bar</div>
    <div class="col-sm-1 d-none d-sm-block bg-color-1">fix bar</div>
    <div class="col-sm-1 d-none d-sm-block bg-color-2">fix bar</div>
    <div class="col-sm-1 d-none d-sm-block bg-color-3">fix bar</div>
    <div class="col-sm-1 d-none d-sm-block bg-color-4">fix bar</div>
    <div class="col-sm-1 d-none d-sm-block bg-color-5">fix bar</div>
    <div class="col-sm-1 d-none d-sm-block bg-color-6">fix bar</div>
  </div>
</div>
<!-------------------------->
