<!-- FOOTER STARTING -->

<!-- COLOR BAR -->
{% include 'color-bar.html' %}
<!-------------------------->

<!-- FOOTER -->
<footer id="footer" class="container-fluid" style="padding-top: 20px;">
  <div class="container text-center social">
    <ul>
      <li>
        <a href=" https://www.facebook.com/hogskolanihalmstad">
          <i class="fab fa-facebook-f bg-color-1"></i>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/hogskolanihalmstad/">
          <i class="fab fa-instagram bg-color-2"></i>
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com/hogskolanihalmstad">
          <i class="fab fa-youtube bg-color-3"></i>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/i/flow/login?redirect_after_login=%2FHogskolanHstd">
          <i class="fab fa-twitter bg-color-4"></i>
        </a>
      </li>
    </ul>
    <p>&copy; All rights reserved. Designed by
      <span class="color-4">S</span>
      <span class="color-4">
        <i class="far fa-grin-wink"></i>
      </span>
      <span class="color-4">T</span>
    </p>
  </div>
</footer>
<!-------------------------->

<!-- COLOR BAR -->
<div class="fixed-bottom">
  <!-- COLOR BAR -->
  {% include 'color-bar.html' %}
  <!-------------------------->
</div>
<!-------------------------->