<!-- ====================================
    ——— SIGN UP MODAL
    ===================================== -->
{% extends "base.html" %}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>
        {{ message }}
        </li>
        {% endfor %}
</ul>
{% endif %}

<div class="container-fluid text-center panel panel-default formPanel">
    <div class="row">
        <div class="col-md-4 offset-md-4 jumbotron">
            <h3 class="panel-title bg-color-1">
                SIGN UP INFO
            </h3>

            <form action="" method="post">
                {% csrf_token %}

                <div class="form-group form-inline formField">
                    <label for="username">
                        <i class="fas fa-envelope bg-color-1"></i>
                    </label>
                    <input type="email" placeholder="Enter email" name="email" id="username" class="form-control" required>
                </div>

                <div class="form-group form-inline formField">
                    <label for="password1">
                        <i class="fas fa-key bg-color-1"></i>
                    </label>
                    <input type="password" placeholder="Password" id="password1" name="password1" class="form-control"
                        required>
                </div>

                <div class="form-group form-inline formField">
                    <label for="password2">
                        <i class="fas fa-key bg-color-1"></i>
                    </label>
                    <input type="password" placeholder="Confrom Password" id="password2" name="password2"
                        class="form-control" required>
                </div>

                <div class="form-group form-inline formField">
                    <button type="submit" class="btn btn-primary btn-block bg-color-3">
                        SIGN UP
                    </button>
                </div>

                <p class="text-center mt-3">
                    Already a member?
                    <a href="{% url 'login' %}" class="btn btn-link" style="color: #080710;">
                        LOG IN
                    </a>
                </p>

            </form>
        </div>
    </div>
</div>

{% endblock content %}